*
!.gitignore
!alacritty/**
!dunst/**
!installs/**
!i3/**
!picom/**
!polybar/**
!ranger/**
!rofi/**
!nvim_config/**
!fastfetch/**

!alacritty/
!dunst/
!installs/
!i3/
!picom/
!polybar/
!ranger/
!rofi/
!nvim/
!fastfetch/
